@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

#container {
    width: 90%; /*fica dinâmico*/
    max-width: 1100px; /*fica no máximo 1100px*/
    height: 100%;

    margin: 0 auto; /*alinha o top e bottom com 0px e left e right como automatico*/
    /* display: flex;
    flex-direction: column; */
}

#container header {
      margin: 36px 0;

      display: flex;  /*alinha os filhos internamente*/
      /* align-items: center; /*alinha na mesma linha, eixo x*/
     /* justify-content: normal;  /*espaço entre os elementos*/
}

#container header nav {
    display: flex;
    margin-left: 122px;
}


#container header nav li {
    list-style-type: none;
    margin-right: 20px;
}


/*=== PADRÃO ===*/

