@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    /* font-family: Roboto-Regular;
    font-size: 16px; */
}

h1 {
    font-size: 32px;
    color: #111111;
}

#container {
    width: 940px; /*fica dinâmico*/
    max-width: 1100px; /*fica no máximo 1100px*/
    height: 100%;

    margin: 0 auto; /*alinha o top e bottom com 0px e left e right como automatico*/
    /* display: flex;
    flex-direction: column; */
}

#container header {
      margin: 36px 0;

      display: flex;  /*alinha os filhos internamente*/
      /* align-items: center; /*alinha na mesma linha, eixo x*/
     /* justify-content: normal;  /*espaço entre os elementos*/
}

#container header nav {
    display: flex;
    margin-left: 75px;
}


#container header nav li {
    list-style-type: none;
    margin-right: 0px;
}

#container header nav li a {
    color: #111111;
    font-size: 16px;
    line-height: 26px;
    margin: 0 16px;
    text-decoration: none;
}

#container section#banner{
    background: #FBDFDB;
    border-radius: 30px;
    width: 940px;
    height: 366px;

    display: flex;
    align-items: center;
    /* justify-content: center; */
}

#container .banner-content {
    margin-left: 60px;

    width: 100%;
    max-width: 316px;
}

#container .banner-content h1 {
    /* width: 100%; */
    height: 38px;
}

#container .banner-content p {
    /* width: 44%; */
    height: 84px;
    opacity: 0.7;
   
    font-size: 18px;
    color: #000000;
    line-height: 28px;
    margin-top: 10px;
}

#container #banner img {
    /* width: 44%; */
    margin-left: 248px;
    padding-top: 61px;
}

main {
    margin-top: 50px;
}

main h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

 .cards {
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}


.card img {
    width: 300px;
    height: 140px;
    border-radius: 15px;
}



/*=== PADRÃO ===*/

