{% extends "layout.njk" %}


<div id="container">

    
    {% block content %}

        <section id="banner">

            <div class="banner-content">
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos
                    com receitas criadas por profissionais
                    do mundo inteiro.</p>
            </div>

            <img src="/assets/chef.png" alt="Chef">
        </section>
        
        <main>
            <h1>Mais acessadas</h1>

            <section class="cards">

                {% for item in items %} 
                <div class="card card_index" id="{{item.id}}">
                    <img src="{{item.image}}" alt="{{item.title}}">

                    <div class="content">
                        <h3>{{item.title}}</h3>
                        <p>por {{item.author}}</p>
                    </div>
                </div>
                {% endfor %}

            </section>

        </main>
    
    {% endblock %}
</div>   
    
