{% extends "layout.njk" %}

<div id="container">

    
    {% block content %}

        <main>

            <section class="recipe">
               
                <div class="card card_recipe" id="{{item.id}}">
                    <img src="../{{item.image}}" alt="{{item.title}}">

                    <div class="content">
                        <h3>{{item.title}}</h3>
                        <p>por {{item.author}}</p>
                    </div>

                    <div class="ingredients">
                         <h5>Ingredientes</h5>
                         <p>por {{item.ingredients}}</p>
                    <div>
                </div>
                

            </section>
        </main>
    
    {% endblock %}
</div>