@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";

* {
     font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    font-size: 32px;
    color: #111111;
}

a {
    color: #111111;
    text-decoration: none;
}

#container {
    width: 940px; /*fica dinâmico*/
    max-width: 1100px; /*fica no máximo 1100px*/


    margin: 0 auto; /*alinha o top e bottom com 0px e left e right como automatico*/
    /* display: flex;
    flex-direction: column; */
}

#container header {
      margin: 36px 0;

      display: flex;  /*alinha os filhos internamente*/
      /* align-items: center; /*alinha na mesma linha, eixo x*/
     /* justify-content: normal;  /*espaço entre os elementos*/
     width: 100%;
     max-width: 940px;
}

#container header a#logo {
    margin-right: 106px;
}

#container header .links a {
    font-size: 16px;
    line-height: 26px;
    margin: 0 16px;
}

#container section#banner{
    background: #FBDFDB;
    border-radius: 30px;
    width: 940px;
    height: 366px;

    display: flex;
    align-items: center;
    /* justify-content: center; */
}

#container .banner-content {
    margin-left: 60px;

    width: 100%;
    max-width: 316px;
}

#container .banner-content h1 {
    /* width: 100%; */
    height: 38px;
}

#container .banner-content p {
    /* width: 44%; */
    height: 84px;
    opacity: 0.7;
   
    font-size: 18px;
    color: #000000;
    line-height: 28px;
    margin-top: 10px;
}

#container #banner img {
    /* width: 44%; */
    margin-left: 248px;
    padding-top: 61px;
}

main {
    margin: 50px 0;
}

main h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

 .cards {
    max-width: 940px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}


.card img {
    width: 300px;
    height: 140px;
    border-radius: 15px;
}

.card .content {
    margin: 20px 0 30px 0;
}

.card .content h3 {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 5px;
    font-weight: 500;
}

.card .content p {
    font-size: 14px;
    color: #777777;
    line-height: 16px;
}

footer {
    background: #EEEEEE;
    text-align: center;
    width: 100%;
    height: 62px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    font-size: 14px;
    color: #999999;
    text-align: center;
}


#active {
    font-weight: bold;
}

.content-about p {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    margin-bottom: 30px;
}


/*=== MODAL ===*/
.modal-overlay {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    width: 660px;
    height: 413px;
    margin: 12vh auto;
    position: relative;
    background: #FFFFFF;
    border-radius: 16px;
}

.modal .close-modal {
    font-size: 16px;
    color: #999999;
    text-align: center;
    cursor: pointer;
}

/*=== MODAL.ACTIVE ===*/

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal-content img {
    width: 600px;
    height: 200px;
    margin: 30px 30px 20px 30px;
    border-radius: 15px;
}

.modal-content h3 {
    font-size: 24px;
    color: #111111;
    text-align: center;
    font-weight: 500;
    margin-bottom: 5px;
}

.modal-content p {
    font-size: 18px;
    color: #777777;
    text-align: center;
    margin-bottom: 60px;
}

